html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #330533
}

#Container{
    height: 100%
}
#Header{
    background-color: blueviolet;
    display: none;
}
#Main{

    height: 96%;
}
#Left-Column{
    background-color: rgba(0, 0, 0, 0.25);
    width: 21%;
    float: left;
    padding: 2%;
    height: 100%;
    text-align: center;
}
#Char-Image{
    background-color: crimson;
    width: 150px;
    height: 150px;
}
#PlayerName{
    background-color: rgba(0, 0, 0, 0.25);
    color: darkgray;
    font-size: 15pt;
}
#Bio-Book{
    background-color: darkgray;
    width: 150px;
    height: 120px;
    margin-top: 15px;
}
#Inventory{background-color: darkgreen}
#Right-Column{
    width: 71%;
    float: left;
    padding: 2%;
    height: 100%;
}
#Main-Text{
    color: aliceblue;
    font-size: 15pt;
}
#Spaghetti-options a{
    font-size: 15pt;
    padding: 1%;
}
#Convo-Text{
    background-color: chocolate;
}
#Convo-Text{
    background-color:darkmagenta;
}