html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #330533;
    color:#D4C2F6;
}

#Container{
    height: 100%
}
#Header{
    background-color: blueviolet;
    display: none;
}
#Main{

    height: 96%;
}
#Left-Column{
    background-color: rgba(0, 0, 0, 0.25);
    width: 21%;
    float: left;
    padding: 2%;
    height: 100%;
    text-align: center;
}
#Char-Image{
    background-color: crimson;
    width: 150px;
    height: 150px;
}
#PlayerName{
    background-color: rgba(0, 0, 0, 0.25);
    color: darkgray;
    font-size: 15pt;
}
#Bio-Book{
    background-color: darkgray;
    width: 150px;
    height: 120px;
    margin-top: 15px;
}
#Inventory{
    min-height: 25px;
    border: 1px #D4C2F6 solid;
    color: #D4C2F6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px; /* wide because it is space for the list bullet */
    text-align: left;
}
#Right-Column{
    width: 71%;
    float: left;
    padding: 2%;
    height: 100%;
}
#Main-Text{
    color: aliceblue;
    font-size: 15pt;
}
#Meatballs { /* aka room name */
    color: #D4C2F6;
}
#Spaghetti-options a{
    font-size: 15pt;
    /* force padding to be applied to all sides not just top bottom: */
    display: inline-block; /* default for <a> is inline */
    padding: 10px;
    margin: 3px;
    color: #D4C2F6;
    background-color: #5D115E;
}